<!DOCTYPE html>
<html>
<head>
  <title><%= full_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="section about">
      <h1><%= link_to "synclike", root_path %></h1>
      <p>automatically add the songs that you like on Pandora to your Rdio collection</p>
      <% if current_user%>
        <%= link_to_unless_current "settings", settings_path do %>
          <%= link_to "home", root_path %>
        <% end %> | 
        <%= link_to "sign out", sign_out_path %>
      <% end %>
      <br><br>
      <small>&copy; <%= link_to "jeff peterson", "http://petersonj.com" %></small>
    </div>
    <div class="section">
      <%= render 'flash_messages' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
