<!DOCTYPE html>
<html>
<head>
  <title><%= full_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="section about">
      <h1>synclike</h1>
      <p>automatically add the songs that you like on Pandora to your Rdio collection</p>
      <%= link_to "Sign Out", sign_out_path if current_user %>
    </div>
    <div class="section">
      <%= render 'flash_messages' %>
      <%= yield %>
    </div>
  </div>
  <br>
  <small>&copy; jeff peterson</small>
</body>
</html>
